<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #login="ngForm" (submit)="onLogin(login)" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" name="email" placeholder="username"ngModel #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="password" #passwordInput="ngModel" ngModel required password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a password.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Login</button>
  </form>
</mat-card>
